@charset "utf-8";

.habilidades {
  background-color: #F7F7F7;
  padding: 6rem 1rem;
}

/* .habilidades__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem 0;
}

.habilidades__list li:hover {
  background-color: #25D366;
  transition: .3s;
}

.habilidades__list li {
  background-color: #FFF;
  padding: 1rem 2rem;
  border-radius: .4rem;
  width: fit-content;
} */

/* ANIMAÇÃO DE SCROLL */
/* Tempos das animações */
.time1 { --time: 20s; }
.time2 { --time: 40s; }
.time3 { --time: 25s; }

.habilidades__scroll {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(90deg, transparent, #F7F7F7 20%, #F7F7F7 80%, transparent);
}

.habilidades__scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time)*-1);
}

.habilidades__scroll div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

.habilidades__scroll div span {
  display: inline-flex;
  margin: 1rem;
  letter-spacing: 0.2rem;
  background-color: #1A1A1A;
  color: #F7F7F7;
  padding: .6rem 1.3rem;
  border-radius: .4rem;
  font-weight: bold;
  transition: .2s;
}

.habilidades__scroll div span:hover {
  background-color: #25D366;
  color: #1A1A1A;
}